<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
  
  <link rel="icon" href="/MyLogo.png" type="image/icon type">

  <br>
    <h1>&nbsp;<%= title %></h1>
     <br>
   <!-- <p>Welcome to <strong><%= title %> me</strong></p> -->
   <center><h4 class="txt">Welcome to <strong><%= title %> me</strong> page</h4></center>
   <!-- <p class="txt">We are Timble Technologies - Technology in Action</p> -->
    <br>
    <br>


    <div> <!--class="square"-->
      <div>
      <img id="flagImg" src="/Canada.png" alt="Canadian flag">
      </div>
      
      <p id="aboutMe">Hello, my name is Egor Shabalkin, I'm studying to be a software engineer technician at Centennial College. 
        I like to study everything related to IT, including electronics, as it is strongly related to Information Technology.
        I am also interested in cars, a bit of Cosmology, Psychology and some other areas. I know several programming languages and also a couple of foreign languages, including Russian and English.
        You can find more information about my skills and hobbies on the <a id="skillsHref" href="/skills">skills page</a>. I have been living in Canada for several years now, I am very happy with this country and would like to live here.</p>
    </div><br>



 <!-- <center><p id="aboutMe" class="txt">Hello, my name is Egor</p></center> -->

  <br><center><img class="aboutImg" alt="About Banner" src="/Centennial.jpg"></center><br><br><br>

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

