<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
  
  <link rel="icon" href="/MyLogo.png" type="image/icon type">

  <br>
    <h1>&nbsp;<%= title %></h1>
  <!-- <p>Welcome to < %= title %></p> -->

  <br>
   <center><h4 class="txt"><strong>Web assignment Express.js - Portfolio</strong></h4></center>
    <br>

  <center><p class="txt">Centennial College - Software Engineering Technician</p></center>
    <br>

    <center><h5><strong>Mission Statement</strong></h5></center>

    <center><p class="txt" id="ms">The world of software development is full of challenges and sometimes even suprises.
       For some people, software development is a backbreaking job, but in today's world, every company needs software, websites, databases, and much more in order to simply run their business.
       My mission is to provide a quality solution and development in a short time for a company in any field and point on earth.</p></center>
    <br>

 <center><img  class="homeImg" alt="Home Banner" src="/home_ban.jpg"></center>

  <br>
    <br>
      <br>



   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

